In [ ]:
'''Q1 >>> Right Angled Triangle with Numbers
Problem Description:
You are given an integer n. Your task is to return a right-angled triangle pattern where each row contains repeated digits. 
The first row contains the number 1 repeated once, the second row contains the number 2 repeated twice, and so on until the
nth row contains the number n repeated n times.

Input:
A single integer n, where 1 <= n <= 100.
Output:
A list of strings where each string represents a row in the triangle. The ith row contains the digit i repeated i times.

Example:
Input: 5
Output: ['1', '22', '333', '4444', '55555']
Input: 3
Output: ['1', '22', '333'] '''

### Solutions 
def rightangle(n):
    triangle=[]
    for i in range(1,n):
        triangle.append(i*str(i))
    return triangle

print(rightangle(10))

['1', '22', '333', '4444', '55555', '666666', '7777777', '88888888', '999999999']

In [70]:
''' Q2 >>> Square of side 'N'
Problem Description: You are given an integer n.
Your task is to return a square pattern of size n x n made up of the character '*', represented as a list of strings.'''

###Solutions

def sqaure_num(n):
    sqaure= ['*'*n for i in range(1,n+1)]
    return sqaure

sqaure_num(4)

['****', '****', '****', '****']

In [136]:
''' Q3 >>> Hollow Square of side 'N'
Problem Description:
You are given an integer n.Your task is to return a hollow square pattern of size n x n made up of the character '*',
represented as a list of strings.The hollow square has '*' on the border, and spaces ' ' in the middle
(except for side lengths of 1 and 2).'''

''' Input: 3
Output: ['***', '* *', '***']
 
Input: 5
Output: ['*****', '*   *', '*   *', '*   *', '*****']'''

###Solution 
def hollow_square(n):
    sqaure=[]
    sqaure.append('*'*n)
    
    for i in range(n-2):
        sqaure.append('*' + ' '*(n-2)+'*')

    sqaure.append('*'*n)


    return sqaure

print(hollow_square(5))

['*****', '*   *', '*   *', '*   *', '*****']

In [146]:
''' Q4 >>> Rectangle Pattern
Problem Description:
You are given two integers, n and m. Your task is to return a rectangle pattern of '*', 
where n represents the number of rows (length) and m represents the number of columns (breadth).
Input: n = 4, m = 5
Output: ['*****', '*****', '*****', '*****']
'''
###Solution 

def rectangle_size(n,m):
    rectangle=[]

    for i in range(n):
        rectangle.append('*'*m)


    return rectangle

print(rectangle_size(4,5))

['*****', '*****', '*****', '*****']

In [159]:
''' Q5 >>> Right Angled Triangle
Problem Description:

You are given an integer n. Your task is to return a right-angled triangle pattern of '*' where each side has n characters,
represented as a list of strings. The triangle has '*' characters,starting with 1 star in the first row,
2 stars in the second row, and so on until the last row has n stars.'''

###Solution 

def right_angle(n):
    right=[]

    for i in range(n,0,-1):
        right.append('*'*i)

    return right


right_angle(5)

['*****', '****', '***', '**', '*']

In [189]:
''' Q6>>> Pyramid Pattern
Problem Description:

You are given an integer n. Your task is to return a pyramid pattern of '*' where each side has n rows,
represented as a list of strings. The pyramid is centered, with 1 star in the first row,
3 stars in the second row, and so on, increasing by 2 stars per row until the base row has 2n - 1 stars.

Example:

Input: 3
Output: ['  *  ', ' *** ', '*****']'''

###Solution 
def pyramid_pattern(n):
    pattern=[]
    for i in range(n,0,-1):

        star= '*' * (2*i-1)
        space= ' '* (n - i)

        pattern.append(space + star + space)

    return pattern


pyramid_pattern(3)

['*****', ' *** ', '  *  ']

In [195]:
'''Q7 >>> Right Angled Triangle with Numbers
Problem Description:
You are given an integer n. Your task is to return a right-angled triangle pattern where each row contains repeated digits.
The first row contains the number 1 repeated once, the second row contains the number 2 repeated twice, and so on until the nth row contains the number n repeated n times.'''


### Solution: 

def rightnumbertriangle(n):
    righttriangle=[]


    for i in range(1,n+1):
        righttriangle.append(i*str(i))

    return righttriangle

rightnumbertriangle(5)

['1', '22', '333', '4444', '55555']

In [ ]:
''' Q8.>>> Floyd right traingle '''
###Solution 
def generate_floyds_triangle(n):
    triangle=[]

    num=1

    for i in range(1,n+1):
        row=' '.join(str(num + j) for j in range(i))
        triangle.append(row)
        
    return triangle


generate_floyds_triangle(5)

['1', '1 2', '1 2 3', '1 2 3 4', '1 2 3 4 5']

In [85]:
def star(n):

    triangle=[]

    for i in range(1,n+1):
        row='*' * (2*i-1)
        space=' '* (n-i)
        triangle.append(space+row+space)

    return triangle


star(5)

['    *    ', '   ***   ', '  *****  ', ' ******* ', '*********']

In [77]:
def generate_diamond(n):
    # Your code here
    triangle=[]
    for i in range(1,n+1):
        row='*' * (2*i-1)
        space=' '* (n-i)
        triangle.append(space+row+space)
        
    for i in range(n,0,-1):
        row='*' * (2*i-1)
        space=' '* (n-i)
        triangle.append(space+row+space)
    return triangle


generate_diamond(3)

['  *  ', ' *** ', '*****', '*****', ' *** ', '  *  ']

In [78]:
def generate_right_angled_triangle(n):
    triangle=[]

    for i in range(1,n+1):
        row= '*' * i
        space=' '* (n-i)

        triangle.append(space+row)

    return triangle


generate_right_angled_triangle(5)

['    *', '   **', '  ***', ' ****', '*****']

In [84]:
def sandbox(n):
    triangle=[]
    for i in range(n,1,-1):
        row='*' * (2*i-1)
        space=' '* (n-i)
        triangle.append(space+row+space)


    for i in range(1,n+1):
        row='*' * (2*i-1)
        space=' '* (n-i)
        triangle.append(space+row+space)
    return triangle


sandbox(3)

['*****', ' *** ', '  *  ', ' *** ', '*****']

In [141]:
def generate_hollow_right_angled_triangle(n):
    """
    Function to return a hollow right-angled triangle of '*' of side n as a list of strings.
    
    Parameters:
    n (int): The height of the triangle.
    
    Returns:
    list: A list of strings where each string represents a row of the triangle.
    """
    # Your code here
    triangle=[]
    for i in range(1,n+1):
        if i==1:
            triangle.append('*')
        elif i==n:
            triangle.append('*'*n)
        else:
            triangle.append('*'+ ' '*(i-2)+'*')

    return triangle


generate_hollow_right_angled_triangle(6)

['*', '**', '* *', '*  *', '*   *', '******']

In [144]:

def generate_hollow_inverted_right_angled_triangle(n):
    """
    Function to return a hollow inverted right-angled triangle of '*' of side n as a list of strings.
    
    Parameters:
    n (int): The height of the triangle.
    
    Returns:
    list: A list of strings where each string represents a row of the triangle.
    """
    # Your code here
    triangle=[]
    for i in range(n,0,-1):
        if i==n:
            triangle.append('*'*n)
        elif i==1:
            triangle.append('*')
        else:
            triangle.append('*'+' '*(i-2)+'*')
    return triangle


generate_hollow_inverted_right_angled_triangle(4)

['****', '* *', '**', '*']

In [166]:
def pyramid_pattern(n):
    pyramid=[]
    num=1
    for i in range(1,n+1):
        rpw=' '.join(str(num+j) for j in range(i))
        space=' '*(n-i)
        pyramid.append(space+rpw+space)

    return pyramid


pyramid_pattern(5)

['    1    ', '   1 2   ', '  1 2 3  ', ' 1 2 3 4 ', '1 2 3 4 5']

In [154]:
num=1
for i in range(1,5):
    for j in range(i):
        print(num+j)

1
1
2
1
2
3
1
2
3
4

In [178]:
def christmas(n):
    tree=[]
    for i in range(1,n+1):
        tree.append(' '*(n-i)+'*'*(2*i-1)+' '*(n-i))
    return tree

christmas(10)

['         *         ',
 '        ***        ',
 '       *****       ',
 '      *******      ',
 '     *********     ',
 '    ***********    ',
 '   *************   ',
 '  ***************  ',
 ' ***************** ',
 '*******************']