## Tuples

Tuples are the ordered collection of items that are immutable. They are as similiar to list but their immutability makes them different.

In [ ]:
##Examples of tuples 

empty_tuple=()
print(type(empty_tuple))

tuple=[]
print(type(tuple))

<class 'tuple'>
<class 'list'>

In [31]:
numbers=([1,2,3,4,5,6])
numbers

[1, 2, 3, 4, 5, 6]

In [63]:
bb=((1,2,3,5,6))
print(type(bb))

<class 'tuple'>

In [ ]:
##Mixed tuple

items=('1','2','2','3','home','suite','4')
print(type(items))

items[3]

<class 'tuple'>

2

In [68]:
##Tuple operation

mixed=items+ bb
print(mixed)

('1', '2', '3', 'home', 'suite', '4', 1, 2, 3, 5, 6)

In [72]:
##Immutable nature of tuples
## Tuples are immutable in nature means when tuple is assigned then there value doesn't change.

name=('bhavya','raj','chauhan')
name[2]='singh'

TypeError: 'tuple' object does not support item assignment

In [88]:
##Tuples method

items=('1','2','2','3','home','suite','4')

print(items.index('home'))
print(items.count('2'))

4
2

In [89]:
##Packed tuple
name="Gabbar","Singh","sambha","Aadmi"

print(name)

('Gabbar', 'Singh', 'sambha', 'Aadmi')

In [90]:
##Unpack tupleb

a,b,c,d=name

print(a)
print(b)
print(c)
print(d)

Gabbar
Singh
sambha
Aadmi

In [94]:
##Unpacking with star *

integers=1,2,3,4,5,6,7,8

print(integers)

a,*b,c=integers

## * take out all the values in one till the last element

(1, 2, 3, 4, 5, 6, 7, 8)

In [111]:
## Nested tuple

many_lst=[[1,2,3,4],[5,6,7],[8,9]]
print(many_lst)
print(type(many_lst))

many_tuple=((1,2,3,4),(5,6,7),(8,'bhavya',9))
print(many_tuple)
print(type(many_tuple))

[[1, 2, 3, 4], [5, 6, 7], [8, 9]]
<class 'list'>
((1, 2, 3, 4), (5, 6, 7), (8, 'bhavya', 9))
<class 'tuple'>

In [112]:
##Accesing the elemetns inside the tuple

many_tuple[2][1]

'bhavya'

In [ ]:
##Iterating over nested tuple

for name in many_tuple:
    for item in name:
        print(item)

1
2
3
4
5
6
7
8
bhavya
9

### Conclusion 

Tuples are versatile and useful in many real world scenarios where an immutable and ordered collection of items in required. They are commonly used in data structure, function arguments and return values and as dictionary keys. Understanding how to leverage tuples effectively can improve the readabilty and efficiency of python code.